:root {
    --red: rgb(191, 31, 31);
    --green: rgb(86, 204, 122);
    --lightBlue: rgb(111, 202, 233);
    --black: rgb(29, 26, 26);
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--green);
    background-color: var(--black);
}
main {
    text-align: center;
    font-size: 1.5em;
}
main > h1 {
    margin-top: 50px;
    margin-bottom: 100px;
}
main > section > p {
    max-width: 40%;
    margin: auto;
    margin-bottom: 100px;
}
@media screen and (max-width: 800px){
    main > section > p {
        max-width: 100%;
    }
}
.nav-links {
    color: var(--green);
    text-decoration: none;
    border: 2px solid var(--green);
    padding: 1em;
    border-radius: 15px;
    transition: all 100ms ease-in-out;
}
.nav-links:hover, .nav-links:focus {
    background-color: var(--green);
    color: white;
}